body{
background-color: rgb(182, 184, 185);
}
td
{
    color: rgb(23, 61, 61);
    font-size:250%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}
select{
    font-size: 250%;
    padding-left: 30%;
}
option{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
button{
    background-color: rgb(42, 42, 71);
    font-size: 200%;
    display:grid;
    justify-content: space-between;
    align-items: center;
    padding-left:20%;
}